@using JSMES.WebUI.Alpha.Models.MasterStruct;
@using JSMES.WebUI.Alpha.App_GlobalResources;

@{
    ViewBag.Title = "Main";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @(Html.DevExtreme().DataGrid<ConditionItemMaster>()
                      .ID("grdConditionItemMaster")
                      .DataSource(d => d.WebApi().Controller("MSTM004WebApi").Key("CONDITIONITEMID"))
                      .Columns(columns =>
                      {
                          columns.AddFor(m => m.CONDITIONITEMCODE).SortOrder(SortOrder.Asc);
                          columns.AddFor(m => m.CONDITIONITEMNAME);

                          columns.AddFor(m => m.CONDITIONITEMGROUP).SortOrder(SortOrder.Asc)
                              .SortOrder(SortOrder.Asc)
                              .Lookup(lookup => lookup
                                  .DataSource(d => d.WebApi()
                                      .Controller("COMA003WebApi").Key("SYSCODE")
                                      .LoadAction("CONDITIONITEMGROUP_LIST"))
                                  .DisplayExpr("SYSCODENAME")
                                  .ValueExpr("SYSCODE")
                              );
                          
                          columns.AddFor(m => m.DEFAULTSPEC);
                          columns.AddFor(m => m.MEMO).Visible(false);
                          columns.AddFor(m => m.USEYN);
                          columns.AddFor(m => m.CREATEUSER);
                          columns.AddFor(m => m.CREATEDATE).Format(f => f.Type(Format.ShortDateShortTime));
                          columns.AddFor(m => m.RECENTUSER);
                          columns.AddFor(m => m.RECENTDATE).Format(f => f.Type(Format.ShortDateShortTime));
                      })
                      .RemoteOperations(true)
                      .OnInitialized("grdConditionItemMaster_OnInitialized")
                      .FilterPanel(f => f.Visible(true))
                      .ColumnAutoWidth(true)
                      .Paging(p => p.PageSize(25).Enabled(true))
                      .Pager(p => p.ShowPageSizeSelector(true).ShowNavigationButtons(true).AllowedPageSizes(new int[] { 10, 25, 50, 100, 1000 }))
                      .Scrolling(s => s.Mode(GridScrollingMode.Standard))
                      .ShowRowLines(true)
                      .SearchPanel(searchPanel => searchPanel
                          .Visible(true)
                          .Width(180)
                          .Placeholder("Search...")
                      )
                      .FilterRow(filterRow => filterRow
                          .Visible(true)
                          .ApplyFilter(GridApplyFilterMode.Auto)
                      )
                      .ShowBorders(true)
                      .AllowColumnResizing(true)
                      .Editing(e =>
                          e.Mode(GridEditMode.Batch)
                              .AllowUpdating(new JS("iudAuth()"))
                              .AllowAdding(new JS("iudAuth()"))
                              .AllowDeleting(new JS("iudAuth()"))
                      )
                      .RowAlternationEnabled(true)
                      .Export(e => e.Enabled(true).ExcelFilterEnabled(true))
                      .Option("KEY_FIELD", new object[] { "PLANTCODE", "CONDITIONITEMCODE" })
                      .Option("INIT_FIELD", new object[] { "USEYN", "PLANTCODE" })
                  )
        </div>
    </div>
</div>

<script>
    function grdConditionItemMaster_OnInitialized(e) {
        userCustomGrid(e);
    }
</script>


@Html.Partial("_DropdownPartial")