@using JSMES.WebUI.Alpha.Models.MasterStruct;
@using JSMES.WebUI.Alpha.ViewModels.MST.MSTK

@{
    ViewBag.Title = "Main";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 col-md-5">
            <h4><span class="bottom-gradient"><i class="fa fa-angle-right"> 설비 목록</i></span></h4>
            @(Html.DevExtreme().DataGrid<EquipmentMaster>()
                  .ID("grdEquipmentMaster")
                  .DataSource(d => d.WebApi()
                      .Controller("COMA001WebApi")
                      .LoadAction("EQUIPMENT_LIST")
                      .Key("EQUIPMENTID")
                      .LoadParams(new
                      {
                          Culture = new JS("function() { return locale; }")
                      }))
                  .Columns(columns =>
                  {
                      columns.AddFor(m => m.EQUIPMENTCODE).Width(150);
                      columns.AddFor(m => m.EQUIPMENTNAME);
                  })
                  .RemoteOperations(true)
                  .FilterPanel(f => f.Visible(true))
                  .ColumnAutoWidth(true)
                  .Paging(p => p.PageSize(25).Enabled(true))
                  .Pager(p => p.ShowPageSizeSelector(true).ShowNavigationButtons(true).AllowedPageSizes(new int[] { 10, 25, 50, 100, 1000 }))
                  .Scrolling(s => s.Mode(GridScrollingMode.Standard))
                  .SearchPanel(searchPanel => searchPanel
                      .Visible(true)
                      .Width(180)
                      .Placeholder("Search...")
                  )
                  .FilterRow(filterRow => filterRow
                      .Visible(true)
                      .ApplyFilter(GridApplyFilterMode.Auto)
                  )
                  //.StateStoring(s => s.Enabled(true).StorageKey("MSTJ002_grdProcessMaster").Type(StateStoringType.LocalStorage))
                  .ShowBorders(true)
                  .AllowColumnResizing(true)
                  .RowAlternationEnabled(true)
                  .Selection(s => s.Mode(SelectionMode.Single))
                  .OnRowClick("grdEquipmentMaster_OnRowClick")
                  //.Export(e => e.Enabled(true).ExcelFilterEnabled(true))
                  .ShowRowLines(true)
                  )
        </div>
        <div class="col-xl-7 col-md-7 mt-md-0 mt-lg-0 mt-sm-2">
            <h4><span class="bottom-gradient"><i class="fa fa-angle-right"> 비가동 코드 목록</i></span></h4>
            @(Html.DevExtreme().DataGrid<MSTK002_LIST>()
                  .ID("grdEquipmentNopcode")
                  .DataSource(d => d.WebApi()
                      .Controller("MSTK002WebApi")
                      .Key("NOPID")
                      .OnBeforeSend("grdEquipmentNopcode_OnBeforeSend"))
                  .Columns(columns =>
                  {
                      columns.AddFor(m => m.USEYN).SortOrder(SortOrder.Desc).Width(100);
                      columns.AddFor(m => m.NOPCODE).AllowEditing(false)
                          .Lookup(lookup => lookup
                              .DataSource(d => d.WebApi()
                                  .Controller("COMA001WebApi").Key("NOPCODE")
                                  .LoadAction("NOPCODE_LIST")
                              )
                              .DisplayExpr("NOPNAME")
                              .ValueExpr("NOPCODE")
                          );
                      //columns.AddFor(m => m.MEMO).AllowEditing(false).Visible(false);
                  })
                  .RemoteOperations(true)
                  .FilterPanel(f => f.Visible(true))
                  .ColumnAutoWidth(true)
                  .Paging(p => p.PageSize(25).Enabled(true))
                  .Pager(p => p.ShowPageSizeSelector(true).ShowNavigationButtons(true).AllowedPageSizes(new int[] { 10, 25, 50, 100, 1000 }))
                  .Scrolling(s => s.Mode(GridScrollingMode.Standard))
                  //.OnFocusedCellChanged()
                  .SearchPanel(searchPanel => searchPanel
                      .Visible(true)
                      .Width(180)
                      .Placeholder("Search...")
                  )
                  .FilterRow(filterRow => filterRow
                      .Visible(true)
                      .ApplyFilter(GridApplyFilterMode.Auto)
                  )
                  .Editing(e =>
                      e.Mode(GridEditMode.Batch)
                          .AllowUpdating(new JS("iudAuth()"))
                  )
                  //.StateStoring(s => s.Enabled(true).StorageKey("MSTJ002_grdProcessDefectMaster").Type(StateStoringType.LocalStorage))
                  .OnCellClick("grdEquipmentNopcode_OnCellClick")
                  .ShowBorders(true)
                  .AllowColumnResizing(true)
                  .RowAlternationEnabled(true)
                  //.Export(e => e.Enabled(true).ExcelFilterEnabled(true))
                  .ShowRowLines(true)
                  )
        </div>
    </div>
</div>

<script>

    function grdEquipmentNopcode_OnCellClick(e) {
        if (e.rowType == "data" && e.column.dataField == "USEYN") {
            if (e.data.USEYN == false)//e.value == false || e.row.oldData.USEYN == false || e.USEYN)
                $('#grdEquipmentNopcode').dxDataGrid('instance').cellValue(e.rowIndex, "USEYN", true);
            else
                $('#grdEquipmentNopcode').dxDataGrid('instance').cellValue(e.rowIndex, "USEYN", false);
        }
    }

    function grdEquipmentNopcode_OnBeforeSend(method, ajaxOptions) {
        if (method == "load") {
            var row = $('#grdEquipmentMaster').dxDataGrid('instance').getSelectedRowsData();

            if (row.length > 0) {
                ajaxOptions.data.EquipmentCode = row[0].EQUIPMENTCODE;
            } else {
                ajaxOptions.data.EquipmentCode = "";
            }
        } else if (method == "update") {
            var row = $('#grdEquipmentMaster').dxDataGrid('instance').getSelectedRowsData();

            var jsonResult = ajaxOptions.data.values;
            var parseJson = JSON.parse(jsonResult);

            var index = $('#grdEquipmentNopcode').dxDataGrid('instance').getRowIndexByKey(ajaxOptions.data.key);
            var nopCode = $('#grdEquipmentNopcode').dxDataGrid('instance').cellValue(index, 'NOPCODE');

            if (row.length > 0) {
                //parseJson.PLANTCODE = processRow[0].PLANTCODE;
                parseJson.EQUIPMENTCODE = row[0].EQUIPMENTCODE;
                parseJson.NOPCODE = nopCode;
                ajaxOptions.data.values = JSON.stringify(parseJson);
            }
        }
    }

    function grdEquipmentMaster_OnRowClick(e) {
        this.selectedValue = e.key;
        e.component.selectRows([e.key], false);

        if (e.rowType == "data") {
            $('#grdEquipmentNopcode').dxDataGrid('instance').refresh();
            $('#grdEquipmentNopcode').dxDataGrid('instance').cancelEditData();
        }
    }

</script>