@using Microsoft.AspNet.Identity;
@using JSMES.WebUI.Alpha.App_GlobalResources;

@{
    ViewBag.Title = "Main";
}

@using JSMES.WebUI.Alpha.ViewModels.MON;

<div class="wrapper wrapper-content">

</div>