@using Microsoft.AspNet.Identity;
@using JSMES.WebUI.Alpha.App_GlobalResources;

@{
    ViewBag.Title = "Field Main";
    Layout = "~/Views/Shared/_LayoutWBT.cshtml";
}

@using JSMES.WebUI.Alpha.ViewModels.MON;

<div class="wrapper wrapper-content">
    <div class="container" style="min-height:500px;">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
</div>