@using JSMES.WebUI.Alpha.App_GlobalResources
@using JSMES.WebUI.Alpha.Models.MasterStruct;

@{
    ViewBag.Title = "Main";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @(Html.DevExtreme().DataGrid<InspectItemMaster>()
                .ID("grdInspectItem")
                .DataSource(d => d.WebApi()
                                .Controller("MSTL001WebApi")
                                .Key("INSPECTID")
                            )
                .Columns(columns =>
                {
                    columns.AddFor(m => m.INSPECTID).Visible(false);
                    columns.AddFor(m => m.INSPECTTYPE)
                        .Lookup(lookup => lookup
                            .DataSource(d => d.WebApi()
                                .Controller("COMA003WebApi").Key("SYSCODE")
                                .LoadAction("INSPECTTYPE_LIST"))
                            .DisplayExpr("SYSCODENAME")
                            .ValueExpr("SYSCODE")
                        );
                    columns.AddFor(m => m.INSPECTCODE);
                    columns.AddFor(m => m.INSPECTNAME);
                    columns.AddFor(m => m.DATATYPE)
                        .Lookup(lookup => lookup
                            .DataSource(d => d.WebApi()
                                .Controller("COMA003WebApi").Key("SYSCODE")
                                .LoadAction("DATATYPE_LIST"))
                            .DisplayExpr("SYSCODENAME")
                            .ValueExpr("SYSCODE")
                        );
                    columns.AddFor(m => m.SPECCLASS)
                        .Lookup(lookup => lookup
                            .DataSource(d => d.WebApi()
                                .Controller("COMA003WebApi").Key("SYSCODE")
                                .LoadAction("SPECCLASS_LIST"))
                            .DisplayExpr("SYSCODENAME")
                            .ValueExpr("SYSCODE")
                        );
                    columns.AddFor(m => m.INSPECTUNIT)
                        .Lookup(lookup => lookup
                            .DataSource(d => d.WebApi()
                                .Controller("COMA003WebApi").Key("SYSCODE")
                                .LoadAction("INSPECTUNIT_LIST"))
                            .DisplayExpr("SYSCODENAME")
                            .ValueExpr("SYSCODE")
                        );
                    columns.AddFor(m => m.USEYN);
                    columns.AddFor(m => m.CREATEUSER);
                    columns.AddFor(m => m.CREATEDATE).Format(f => f.Type(Format.ShortDateShortTime));
                    columns.AddFor(m => m.RECENTUSER);
                    columns.AddFor(m => m.RECENTDATE).Format(f => f.Type(Format.ShortDateShortTime));
                })
                .RemoteOperations(true)
                .FilterPanel(f => f.Visible(true))
                .ColumnAutoWidth(true)
                .Paging(p => p.PageSize(25).Enabled(true))
                .Pager(p => p.ShowPageSizeSelector(true).ShowNavigationButtons(true).AllowedPageSizes(new int[] {10, 25, 50, 100, 1000 }))
                .Scrolling(s => s.Mode(GridScrollingMode.Standard))
                .SearchPanel(searchPanel => searchPanel
                    .Visible(true)
                    .Width(180)
                    .Placeholder("Search...")
                )
                .FilterRow(filterRow => filterRow
                    .Visible(true)
                    .ApplyFilter(GridApplyFilterMode.Auto)
                )
                .ShowBorders(true)
                .AllowColumnResizing(true)
                .Editing(e =>
                    e.Mode(GridEditMode.Batch)
                        .AllowUpdating(new JS("iudAuth()"))
                        .AllowAdding(new JS("iudAuth()"))
                        .AllowDeleting(new JS("iudAuth()"))
                )
                .Selection(s => s.Mode(SelectionMode.Single))
                .KeyboardNavigation(options =>
                {
                    // MoveFocus : 엔터시 이동 
                    // startEdit : 엔터시 EditMode 다시 엔터시 이동
                    options.EnterKeyAction(GridEnterKeyAction.MoveFocus);
                    // 엔터 이외 키 입력시 EditMode 여부
                    options.EditOnKeyPress(true);
                    // Row : 엔터시 열 단위 이동 →
                    // Column : 엔터시 행 단위 이동 ↓
                    options.EnterKeyDirection(GridEnterKeyDirection.Column);
                })
                .RowAlternationEnabled(true)
                .Export(e => e.Enabled(true))
                .OnFileSaving("function(e) {e.fileName = getExportFileName(this, fullScreenName, '') ;}")
                .ShowRowLines(true)
                .OnInitialized("grdInspectItem_OnInitialized")
                .OnEditorPrepared("grdInspectItem_OnEditorPrepared")
                .Option("KEY_FIELD", new object[] { "INSPECTCODE" })
                .Option("INIT_FIELD", new object[] { "USEYN" })
                )
        </div>
    </div>
</div>

<script>
    function grdInspectItem_OnInitialized(e) {
        userCustomGrid(e);
    }
    
    function grdInspectItem_OnEditorPrepared(option) {
        if (option.parentType == 'dataRow') {
            if (option.dataField == 'DATATYPE') {
                option.editorElement.dxSelectBox('instance').option('onValueChanged', function (e) {
                    $('#grdInspectItem').dxDataGrid('instance').cellValue(option.row.rowIndex, 'DATATYPE', e.value);
                    if (e.value != 'N') {
                        $('#grdInspectItem').dxDataGrid('instance').cellValue(option.row.rowIndex, 'SPECCLASS', "");
                        $('#grdInspectItem').dxDataGrid('instance').cellValue(option.row.rowIndex, 'INSPECTUNIT', "");
                    }
                });
            }
            else if (option.dataField == 'SPECCLASS' || option.dataField == 'INSPECTUNIT') {
                var isNumber = option.row.data['DATATYPE'] == 'N' ? true : false;
                option.editorElement.dxSelectBox('instance').option('readOnly', !isNumber);
            }
        }
    }
</script>
